.advantages {
  position: relative;
  background-color: @lightgray;
  overflow: hidden;
  padding-top: 80px;

  @media (min-width: 660px) {
    padding-top: 76px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 30px solid @lightgray;
    border-left: 320px solid @white;
    top: 0;

    @media (min-width: 660px) {
      border-bottom: 53px solid @lightgray;
      border-left: 100vw solid @white;
    }

    @media (min-width: 1200px) {
      border-bottom: 101px solid @lightgray;
      border-left: 100vw solid @white;
    }
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: 660px) {
    align-items: flex-end;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 30px;
  }
}

.advantages__item {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: 660px) {
    width: 310px;
    text-align: start;
    margin-bottom: 34px;
  }

  @media (min-width: 1200px) {
    width: 245px;
    text-align: center;
    padding-top: 288px;
    margin-bottom: 0;
  }

  br {
    display: none;

    @media (min-width: 660px) {
      display: block;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

.advantages__item--new-friends {
  position: relative;
  padding-bottom: 315px;
  margin: 0;

  @media (min-width: 660px) {
    padding-bottom: 43px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 157px;
    height: 320px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
    bottom: -45px;
    right: 60px;

    @media (min-width: 660px) {
      width: 268px;
      height: 547px;
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
      left: -309px;
      bottom: -66px;
    }

    @media (min-width: 1200px) {
      width: 300px;
      height: 382px;
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
      top: -70px;
      left: -20px;
    }
  }
}

.advantages__item--cheer-up {
  position: relative;

  @media (min-width: 1200px) {
    &::before {
      content: "";
      position: absolute;
      width: 300px;
      height: 382px;
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;
      top: -70px;
      left: 297px;
    }
  }
}

.advantages__item--changes-world {
  position: relative;

  @media (min-width: 1200px) {
    width: 240px;

    &::before {
      content: "";
      position: absolute;
      width: 300px;
      height: 382px;
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
      left: -349px;
      top: -70px;
    }
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: 660px) {
    margin-bottom: 12px;
  }

  @media (min-width: 1200px) {
    width: 240px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 22px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @gray;
  margin: 0;
  padding: 0;

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__toggles {
  text-align: center;
}
