.advantages {
  background-color: @lightgray;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: 660px) {
    align-items: flex-end;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__item {
  list-style: none;
  text-align: center;

  @media (min-width: 660px) {
    width: 310px;
    text-align: start;
  }

  @media (min-width: 1200px) {
    width: 252px;
    text-align: center;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @gray;

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
  }
}
