.contacts {
  padding-top: 50px;
}

.contacts__wrapper {
  width: 280px;
  margin: auto;
  text-align: center;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @gray;
  margin: 0;
  margin-bottom: 45px;
}

.contacts__text {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: @gray;
}

.contacts__phone {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @pink;
}

.contacts__email {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @pink;
}

.contacts__address {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @pink;
  margin-bottom: 50px;
}
