.form__text-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
}

.form__text-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @specialgray;
  border-radius: 3px;

  &::placeholder {
    color: @gray;
  }
}

.form__achievements {
  background-color: @lightgray;
}

.form__section-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @pink;
}

.form__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @gray;
}

.form__message {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  &::placeholder {
    color: @gray;
  }
}

.form__button {
  width: 280px;
  min-height: 59px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  border: none;
  border-radius: 2px;
  background-color: @button-green;
}

.form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @gray;
}

.form__star {
  color: @pink;
}
