.gallery__description {
  width: 250px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @gray;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;

  @media (min-width: 660px) {
    width: 550px;
    font-size: 18px;
    line-height: 30px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: 660px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 54px;
  }
}

.gallery__item {
  position: relative;
  background-color: @lightgray;
}

.gallery__item--panorama {
  grid-column-start: 1;
  grid-column-end: -1;
  padding-top: 137px;

  .gallery__img {
    width: 320px;
    position: absolute;
    top: 0;
    left: -20px;
  }

  @media (min-width: 660px) {
    padding-top: 480px;

    .gallery__img {
      width: 660px;
    }

    .gallery__button {
      flex-basis: auto;
      align-self: flex-start;
      padding-right: 29px;
      order: 0;

      svg {
        left: 105px;
      }
    }
  }

  @media (min-width: 1200px) {
    padding-top: 506px;
    .gallery__img {
      width: 1200px;
      left: -130px;
    }
  }
}

.gallery__img {
  display: block;
}

.gallery__post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 30px;
}

.gallery__author {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @gray;
}

.gallery__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @gray;
  padding-left: 3px;
}

.gallery__message {
  flex-basis: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @gray;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  order: 1;
}

.gallery__button {
  position: relative;
  align-self: flex-end;
  text-align: start;
  flex-basis: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @pink;
  border: none;
  padding: 0;
  padding-left: 31px;
  order: 2;

  svg {
    position: absolute;
    left: 0;
    top: 6px;
    fill: @pink;
  }

  @media (min-width: 660px) {
    padding-left: 0;

    svg {
      left: 240px;
    }
  }
}
