.gallery__description {
  width: 250px;
  padding-top: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @gray;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;

  @media (min-width: 660px) {
    width: 550px;
    padding-top: 91px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 77px;
  }

  @media (min-width: 1200px) {
    width: 630px;
    margin-bottom: 89px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: 660px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
  }
}

.gallery__item {
  position: relative;
  background-color: @lightgray;

  @media (min-width: 1200px) {
    margin-bottom: 4px;
  }
}

.gallery__img {
  display: block;
  margin-bottom: 17px;

  @media (min-width: 660px) {
    margin-bottom: 22px;
  }
}

.gallery__post {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding-left: 17px;

  @media (min-width: 660px) {
    padding-left: 30px;
    padding-right: 20px;
    min-height: 133px;
  }
}

.gallery__author {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @gray;
}

.gallery__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @gray;
  padding-left: 3px;
}

.gallery__message {
  flex-basis: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @gray;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;

  @media (min-width: 660px) {
    margin-bottom: 5px;
  }
}

.gallery__button {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @pink;
  background-color: transparent;
  border: none;
  padding: 0;
  bottom: -36px;

  svg {
    left: 0;
    top: 6px;
    fill: @pink;
    padding-right: 15px;

    @media (min-width: 660px) {
      position: absolute;
      left: 228px;
      padding: 0;
    }
  }

  @media (min-width: 660px) {
    position: absolute;
    padding-left: 0;
    bottom: 23px;
  }
}

.gallery__item--panorama {
  position: relative;
  grid-column-start: 1;
  grid-column-end: -1;
  padding-top: 154px;

  .gallery__img {
    width: 320px;
    position: absolute;
    top: 0;
    left: -20px;
  }

  &::before {
    content: "Панорама дня";
    position: absolute;
    width: 140px;
    height: 31px;
    color: @white;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    background-color: @pink;
    padding-top: 5px;
    top: 0;
    right: 0;
    z-index: 2;
  }

  @media (min-width: 660px) {
    padding-top: 532px;
    margin-bottom: 30px;

    br {
      display: none;
    }

    .gallery__img {
      width: 660px;
      left: -20px;
    }

    .gallery__post {
      min-height: 98px;
    }

    .gallery__button {
      top: -47px;
      right: 60px;

      svg {
        left: 106px;
        top: 54px;
      }
    }

    &::before {
      top: 57px;
    }
  }

  @media (min-width: 1200px) {
    padding-top: 528px;
    margin-bottom: 0;

    .gallery__post {
      min-height: 74px;
    }

    .gallery__img {
      width: 1200px;
      left: -130px;
    }

    .gallery__button {
      top: -24px;

      svg {
        top: 32px;
      }
    }

    &::before {
      top: 54px;
    }
  }
}
