.header {
  background-color: @gray;
}

.nav {
  position: relative;
}

.nav__toggle {
  position: absolute;
  right: 0;
  top: -20px;
}

.nav__list {
  padding: 0;
  margin: 0;
}

.nav__item {
  list-style: none;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav__link {
  text-transform: uppercase;
  color: @white;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
