.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: @gray;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 95px;
  

  @media (min-width: 660px) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: 1200px) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  &--form {
    padding-top: 36px;
    padding-bottom: 51px;
  }

  &--photo {
    padding-top: 36px;
    padding-bottom: 84px;
  }

  .container {
    @media (max-width: 660px) {
      display: contents;
    }
  }
}

.intro__wrapper {
  width: 300px;
  @media (max-width: 660px) {
    display: contents;
  }
}

.intro__title {
  width: 280px;
  margin: 0;
  margin-bottom: 310px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @white;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 40px;
    margin-bottom: 39px;
  }
}
