.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: @gray;
  background-repeat: no-repeat;
  &--index {
    padding-top: 29px;
  }
  &--form {
    padding-top: 36px;
    padding-bottom: 51px;
  }
  &--photo {
    padding-top: 36px;
    padding-bottom: 84px;
  }
}

.intro__title {
  width: 280px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @white;
  text-align: center;
  margin: 0;
  margin: auto;
  margin-bottom: 34px;
}

.intro img {
  vertical-align: bottom;
}
