.price {
  position: relative;
  overflow: hidden;
  min-height: 385px;
  background-color: @lightgray;
}

.price__table {
  border-collapse: collapse;
  top: 50px;

  @media (max-width: 660px) {
    position: absolute;
    left: -267px;
  }
}

.price__plan {
  height: 94px;
  background-color: @gray;
  border-left: 3px solid @white;

  @media (max-width: 660px) {
    min-width: 280px;
  }
}

.price__name {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  margin: 0;
}

.price__cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  margin: 0;
}

.price__option {
  height: 59px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @gray;
  background-color: @white;
  padding-left: 20px;
  border: 3px solid @specialgray;

  &--additional {
    @media (max-width: 660px) {
      display: none;
    }
  }
}
