.slogan {
  padding-top: 40px;
  padding-bottom: 2px;

  @media (min-width: 660px) {
    padding-top: 45px;
    padding-bottom: 31px;
  }

  @media (min-width: 1200px) {
    padding-top: 62px;
    padding-bottom: 50px;
  }
}

.slogan__text {
  color: @gray;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 0;

    &:last-child {
      padding-top: 0;
    }
  }

  @media (min-width: 1200px) {
    font-size: 50px;
    line-height: 68px;
    width: auto;
  }
}
