.study {
  display: none;
  
    @media (min-width: 660px) {
      display: block;
    }
}

.study__item {
    width: 310px;
    margin-left: auto;
}
  
.study__title {
  width: 168px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}
  
.study__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @gray;
}
  
.study__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: @pink;
}